<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="utilisateur">
      <h2 data-cy="utilisateurDetailsHeading"><span jhiTranslate="assuranceApp.utilisateur.detail.title">Utilisateur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ utilisateur.id }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.utilisateur.numContrat">Num Contrat</span></dt>
        <dd>
          <span>{{ utilisateur.numContrat }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.utilisateur.cin">Cin</span></dt>
        <dd>
          <span>{{ utilisateur.cin }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.utilisateur.situationSocial">Situation Social</span></dt>
        <dd>
          <span>{{ utilisateur.situationSocial }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.utilisateur.numeroTelephone">Numero Telephone</span></dt>
        <dd>
          <span>{{ utilisateur.numeroTelephone }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.utilisateur.nom">Nom</span></dt>
        <dd>
          <span>{{ utilisateur.nom }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.utilisateur.prenom">Prenom</span></dt>
        <dd>
          <span>{{ utilisateur.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.utilisateur.login">Login</span></dt>
        <dd>
          <span>{{ utilisateur.login }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.utilisateur.password">Password</span></dt>
        <dd>
          <span>{{ utilisateur.password }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.utilisateur.roles">Roles</span></dt>
        <dd>
          <span *ngFor="let roles of utilisateur.roles; let last = last">
            <a [routerLink]="['/role', roles?.id, 'view']">{{ roles.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/utilisateur', utilisateur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
