<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="sinistre">
      <h2 data-cy="sinistreDetailsHeading"><span jhiTranslate="assuranceApp.sinistre.detail.title">Sinistre</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sinistre.id }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.sinistre.typeSinistre">Type Sinistre</span></dt>
        <dd>
          <span>{{ sinistre.typeSinistre }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.sinistre.dateSinistre">Date Sinistre</span></dt>
        <dd>
          <span>{{ sinistre.dateSinistre | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.sinistre.lieuSinistre">Lieu Sinistre</span></dt>
        <dd>
          <span>{{ sinistre.lieuSinistre }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sinistre', sinistre.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
