<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-role-heading" data-cy="RoleCreateUpdateHeading" jhiTranslate="assuranceApp.role.home.createOrEditLabel">
        Create or edit a Role
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.role.name" for="field_name">Name</label>
          <select class="form-control" name="name" formControlName="name" id="field_name" data-cy="name">
            <option [ngValue]="null">{{ 'assuranceApp.ERole.null' | translate }}</option>
            <option value="ASSUREUR">{{ 'assuranceApp.ERole.ASSUREUR' | translate }}</option>
            <option value="ASSUREE">{{ 'assuranceApp.ERole.ASSUREE' | translate }}</option>
            <option value="ADMINISTRATEUR">{{ 'assuranceApp.ERole.ADMINISTRATEUR' | translate }}</option>
            <option value="VICTIME">{{ 'assuranceApp.ERole.VICTIME' | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
