<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cheque">
      <h2 data-cy="chequeDetailsHeading"><span jhiTranslate="assuranceApp.cheque.detail.title">Cheque</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cheque.id }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.cheque.nomCheque">Nom Cheque</span></dt>
        <dd>
          <span>{{ cheque.nomCheque }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.cheque.montnant">Montnant</span></dt>
        <dd>
          <span>{{ cheque.montnant }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cheque', cheque.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
