<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-victime-heading" data-cy="VictimeCreateUpdateHeading" jhiTranslate="assuranceApp.victime.home.createOrEditLabel">
        Create or edit a Victime
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.victime.numContrat" for="field_numContrat">Num Contrat</label>
          <input
            type="text"
            class="form-control"
            name="numContrat"
            id="field_numContrat"
            data-cy="numContrat"
            formControlName="numContrat"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.victime.cin" for="field_cin">Cin</label>
          <input type="number" class="form-control" name="cin" id="field_cin" data-cy="cin" formControlName="cin" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.victime.situationSocial" for="field_situationSocial"
            >Situation Social</label
          >
          <input
            type="text"
            class="form-control"
            name="situationSocial"
            id="field_situationSocial"
            data-cy="situationSocial"
            formControlName="situationSocial"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.victime.numeroTelephone" for="field_numeroTelephone"
            >Numero Telephone</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroTelephone"
            id="field_numeroTelephone"
            data-cy="numeroTelephone"
            formControlName="numeroTelephone"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.victime.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.victime.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.victime.login" for="field_login">Login</label>
          <input type="text" class="form-control" name="login" id="field_login" data-cy="login" formControlName="login" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.victime.password" for="field_password">Password</label>
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
