<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="victime">
      <h2 data-cy="victimeDetailsHeading"><span jhiTranslate="assuranceApp.victime.detail.title">Victime</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ victime.id }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.victime.numContrat">Num Contrat</span></dt>
        <dd>
          <span>{{ victime.numContrat }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.victime.cin">Cin</span></dt>
        <dd>
          <span>{{ victime.cin }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.victime.situationSocial">Situation Social</span></dt>
        <dd>
          <span>{{ victime.situationSocial }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.victime.numeroTelephone">Numero Telephone</span></dt>
        <dd>
          <span>{{ victime.numeroTelephone }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.victime.nom">Nom</span></dt>
        <dd>
          <span>{{ victime.nom }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.victime.prenom">Prenom</span></dt>
        <dd>
          <span>{{ victime.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.victime.login">Login</span></dt>
        <dd>
          <span>{{ victime.login }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.victime.password">Password</span></dt>
        <dd>
          <span>{{ victime.password }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/victime', victime.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
