<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="role">
      <h2 data-cy="roleDetailsHeading"><span jhiTranslate="assuranceApp.role.detail.title">Role</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ role.id }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.role.name">Name</span></dt>
        <dd>
          <span jhiTranslate="{{ 'assuranceApp.ERole.' + role.name }}">{{ role.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/role', role.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
