<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="quittance">
      <h2 data-cy="quittanceDetailsHeading"><span jhiTranslate="assuranceApp.quittance.detail.title">Quittance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ quittance.id }}</span>
        </dd>
        <dt><span jhiTranslate="assuranceApp.quittance.numQuittance">Num Quittance</span></dt>
        <dd>
          <span>{{ quittance.numQuittance }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/quittance', quittance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
