<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sinistre-heading" data-cy="SinistreCreateUpdateHeading" jhiTranslate="assuranceApp.sinistre.home.createOrEditLabel">
        Create or edit a Sinistre
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.sinistre.typeSinistre" for="field_typeSinistre">Type Sinistre</label>
          <input
            type="text"
            class="form-control"
            name="typeSinistre"
            id="field_typeSinistre"
            data-cy="typeSinistre"
            formControlName="typeSinistre"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.sinistre.dateSinistre" for="field_dateSinistre">Date Sinistre</label>
          <div class="input-group">
            <input
              id="field_dateSinistre"
              data-cy="dateSinistre"
              type="text"
              class="form-control"
              name="dateSinistre"
              ngbDatepicker
              #dateSinistreDp="ngbDatepicker"
              formControlName="dateSinistre"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateSinistreDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="assuranceApp.sinistre.lieuSinistre" for="field_lieuSinistre">Lieu Sinistre</label>
          <input
            type="text"
            class="form-control"
            name="lieuSinistre"
            id="field_lieuSinistre"
            data-cy="lieuSinistre"
            formControlName="lieuSinistre"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
